<% provide(:title, _('Patients')) %>
    
<div class="row">   
  <div class="col-lg-4">
    <%= form_tag patients_path, :method => 'get', :id => "doctors_search" do %>
    <div class="input-group input-group-lg">
      <span class="input-group-btn">
	<%= button_tag(type:'submit', class:"btn btn-lg") do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
      <%= text_field_tag :search, params[:search], class:"form-control" %>
    </div><!-- /input-group -->
    <% end %>
  </div><!-- /.col-lg-4 -->      

  <div class="col-lg-4">
    <div class="btn-group">
      <a class="btn btn-default btn-lg" role="button" href=<%= new_patient_path %> >
      <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</div> <!-- row -->

<%= will_paginate renderer: BootstrapPagination::Rails %>
<div class="row">
<div class="information-container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th></th>
	  <th><%= _('Name')%></th>
	  <th><%= _('Phone number')%></th>
	  <th><%= _('E-mail')%></th>
	</tr> 
      </thead>
      <tbody> 
	<%= render @patients %>
      </tbody>
    </table>
  </div> <!-- table-responsive --> 
</div> <!-- information-container-->
</div> <!-- class="row" -->
<%= will_paginate renderer: BootstrapPagination::Rails %>


