<% provide(:title, _('Doctor data edit')) %>

<div class="row">
<div class="button-sections">
  <%= render 'doctor_buttons' %>
</div>
</div>

<div class="row">
<div class="information-container">
    <div class="col-md-4 col-md-offset-4">
      <div class="input-group-md">
      <%= form_tag(doctor_path(@doctor), method: :patch) do %>
	    <%= label_tag  :name, 'Name' %>
            <%= text_field :doctor, :name ,         class: 'form-control', autofocus: true %>
	    
	    <%= label_tag  :speciality, 'Speciality' %>
	    <%= text_field :doctor, :speciality ,   class: 'form-control', autofocus: true %>
	    	    
	    <%= label_tag  :email, 'Email' %>
	    <%= text_field :doctor, :email ,        class: 'form-control', autofocus: true %>

	    <%= label_tag  :phone_number, 'Phone Number' %>
	    <%= text_field :doctor, :phone_number,  class: 'form-control', autofocus: true %>
	    <%= submit_tag _('Update'), class: "btn btn-lg btn-primary btn-block" %>   
      <% end %>	    
      </div> <!-- input-group-md -->
    </div> <!-- col-md-4 col-md-offset-4 -->
</div> <!-- informattion-container" -->
</div> <!-- row -->

