<% provide(:title, _('Doctor data edit')) %>

<div class="row" id="doctor-button-sections">
  <%= render 'doctor_buttons' %>
</div>

<div class="row" id="doctor-information-container">
    <div class= "col-md-4 col-md-offset-4">
      <%= form_tag :action =>'edit' %>
          
	  <div class="input-group-md">
            <%= text_field :doctor, :name ,         class: 'form-control', autofocus: true %>
	    <%= text_field :doctor, :speciality ,   class: 'form-control', autofocus: true %>
	    <%= text_field :doctor, :email ,        class: 'form-control', autofocus: true %>
	    <%= text_field :doctor, :phone_number,  class: 'form-control', autofocus: true %>
	  </div>
       <%= submit_tag _('Update'), class: "btn btn-lg btn-primary btn-block" %>   
    </div>
</div>
