<% provide(:title, _('Doctors')) %>

<div class="row">  
  <div class="col-lg-4">
    <div class="input-group input-group-lg">
      <span class="input-group-btn">
        <button class="btn btn-lg" type="button">
	  <span class="glyphicon glyphicon-search" </span>
	</button>
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <div class="btn-group">
      <button type="button" class="btn btn-lg">
	<span class="glyphicon glyphicon-plus">
	</span>
      </button>
    </div>
  </div>
</div>

<div class="doctor-list">
<%= will_paginate renderer: BootstrapPagination::Rails %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
      <th></th>
      <th><%= _('Name')%></th>
      <th><%= _('Phone number')%></th>
      <th><%= _('E-mail')%></th>
      </tr> 
    </thead>
    <tbody>
       
      <%= render @doctors %>
      
     </tbody>
  </table>
</div>

<%= will_paginate renderer: BootstrapPagination::Rails %>
</div> <!-- doctor-list-->



